Topics/n8n-jack-notifications.json
{
  "name": "Jack (Gemphonbot) Notification Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jack-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Jack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "jack-notification"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Validate request\nif (!body || !body.agent || body.agent !== 'jack') {\n  return [{ json: { error: 'Invalid agent' } }];\n}\n\n// Parse event\nconst event = body.event;\nconst data = body.data || {};\n\nlet message = '';\nlet priority = 'normal';\n\nswitch (event) {\n  case 'vault_updated':\n    message = `📁 Vault обновлён Джеком\\n\\nФайл: ${data.file || 'unknown'}\\nКоммит: ${data.commit || 'N/A'}`;\n    break;\n    \n  case 'task_created':\n    message = `📋 Новая задача от Джека\\n\\nЗадача: ${data.title || 'Без названия'}\\nПриоритет: ${data.priority || 'normal'}\\n\\n${data.description || ''}`;\n    priority = data.priority === 'high' ? 'high' : 'normal';\n    break;\n    \n  case 'task_completed':\n    message = `✅ Джек выполнил задачу\\n\\nЗадача: ${data.title || 'Без названия'}\\nРезультат: ${data.result || 'Готово'}`;\n    break;\n    \n  case 'secret_request':\n    message = `🔑 Джек запрашивает секрет\\n\\nНазвание: ${data.secret_name || 'unknown'}\\nПричина: ${data.reason || 'Не указана'}`;\n    priority = 'high';\n    break;\n    \n  case 'help_needed':\n    message = `🆘 Джеку нужна помощь!\\n\\nВопрос: ${data.question || 'Не указан'}\\nКонтекст: ${data.context || 'Нет'}`;\n    priority = 'high';\n    break;\n    \n  case 'status_update':\n    message = `📊 Статус от Джека\\n\\n${data.message || 'Статус обновлён'}`;\n    break;\n    \n  default:\n    message = `📨 Сообщение от Джека\\n\\nСобытие: ${event}\\nДанные: ${JSON.stringify(data, null, 2)}`;\n}\n\nreturn [{\n  json: {\n    event: event,\n    message: message,\n    priority: priority,\n    raw_data: data,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Parse Jack Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"typeValidation": "strict"},
          "conditions": [
            {
              "id": "is-high",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {"type": "string", "operation": "equals"}
            }
          ]
        }
      },
      "name": "High Priority?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "chatId": "5334588631",
        "text": "=🔔 *Уведомление от Джека (Gemphonbot)*\n\n{{ $json.message }}\n\n_Время: {{ $json.timestamp }}_",
        "options": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "name": "Notify Me (High Priority)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-api",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5334588631",
        "text": "={{ $json.message }}",
        "options": {
          "disable_notification": true
        }
      },
      "name": "Notify Me (Normal)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-api",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseCode": 200
        },
        "responseBody": "={{ JSON.stringify({ success: true, received: $now }) }}"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fileName": "=jack-events-{{ Date.now() }}.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "append": true
        }
      },
      "name": "Log to File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [850, 550]
    }
  ],
  "connections": {
    "Jack Webhook": {
      "main": [[{"node": "Parse Jack Event", "type": "main", "index": 0}]]
    },
    "Parse Jack Event": {
      "main": [
        [{"node": "High Priority?", "type": "main", "index": 0}],
        [{"node": "Log to File", "type": "main", "index": 0}]
      ]
    },
    "High Priority?": {
      "main": [
        [{"node": "Notify Me (High Priority)", "type": "main", "index": 0}],
        [{"node": "Notify Me (Normal)", "type": "main", "index": 0}]
      ]
    },
    "Notify Me (High Priority)": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    },
    "Notify Me (Normal)": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "active": false
}
