Topics/n8n-telegram-bridge.json
{
  "name": "OpenClaw Telegram Group Bridge",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Group Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "openclaw-group-bridge",
      "credentials": {
        "telegramApi": {
          "id": "openclaw-telegram",
          "name": "OpenClaw Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.message?.chat?.type }}",
              "rightValue": "group",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "name": "Is Group?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst text = msg.text || '';\nconst from = msg.from?.username || msg.from?.first_name || 'Unknown';\nconst chatId = msg.chat.id;\nconst messageId = msg.message_id;\n\n// Check if I'm mentioned\nconst mentions = [\n  '@MaximYarovoi',\n  '@OpenClawBot',\n  'OpenClaw',\n  'Клод',\n  'Claude'\n];\nconst isMentioned = mentions.some(m => text.toLowerCase().includes(m.toLowerCase()));\n\nreturn [{\n  json: {\n    text: text,\n    from: from,\n    chat_id: chatId,\n    message_id: messageId,\n    is_mentioned: isMentioned,\n    timestamp: new Date().toISOString(),\n    raw: msg\n  }\n}];"
      },
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-mentioned",
              "leftValue": "={{ $json.is_mentioned }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "Mentioned?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "5334588631",
        "text": "=🔔 Упоминание в группе:\n\n👤 От: {{ $json.from }}\n💬 Текст: {{ $json.text }}\n\n📱 Чат ID: {{ $json.chat_id }}\n\nОтвечайте в этом чате — я перешлю ответ",
        "options": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Notify Me (DM)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1050,
        150
      ],
      "credentials": {
        "telegramApi": {
          "id": "openclaw-telegram",
          "name": "OpenClaw Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "replyToMessage": "={{ $json.message_id }}",
        "text": "=✅ Получено! Проверяю...",
        "options": {}
      },
      "name": "Ack in Group",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1050,
        250
      ],
      "credentials": {
        "telegramApi": {
          "id": "openclaw-telegram",
          "name": "OpenClaw Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "filePath": "=/data/group-messages.json",
        "options": {
          "append": true
        }
      },
      "name": "Log to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "Telegram Group Trigger": {
      "main": [
        [
          {
            "node": "Is Group?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Group?": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Mentioned?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mentioned?": {
      "main": [
        [
          {
            "node": "Notify Me (DM)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack in Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["telegram", "group", "bridge"],
  "active": false
}
